<section class="section-about">
  <div class="linear-grandient-1"></div>
  <div class="container-about">
    <div class="container-text-about">
      <h2 class="title-about" id="sobremi">Sobre mi</h2>
      <p>
        Soy un tecnico en programacion, entuciasta del desarrollo web front-end.
        Desde que comencé mis estudios en programación, descubrí mi interés por
        crear interfaces web intuitivas y atractivas. Cada día me dedico a
        aprender y practicar nuevas tecnologías para seguir mejorando mis
        habilidades. Me considero una persona responsable, dinámica, creativa,
        con una gran capacidad de adaptación y disciplina. Tengo iniciativa para
        resolver problemas y disfruto enfrentando nuevos desafíos en el campo de
        la tecnología.
      </p>
    </div>
    <div class="container-svg-about">
      <div class="container-svg">
        <lottie-player
          src="https://assets8.lottiefiles.com/packages/lf20_sg18igu8.json"
          background="transparent"
          speed="1"
          style="width: 380px; height: 380px; position:relative;"
          loop
          autoplay></lottie-player>
      </div>
    </div>
  </div>
</section>
