---
import Projects from "./projects/projects.astro";
import Studies from "./studies/studies.astro";
import About from "./about/about.astro";
import Skills from "./skills/skills.astro";
import Home from "./home/home.astro";
---

<main>
  <div class="container_p">
    <Home />
    <Projects />
    <Skills />
    <Studies />
    <About />
  </div>
</main>
