---
import Projects from "./src/components/main/projects/Projects.astro";
import Studies from "./src/components/main/studies/Studies.astro";
import About from "./src/components/main/about/About.astro";
import Skills from "./src/components/main/skills/Skills.astro";
import Home from "./src/components/main/home/Home.astro";
---

<main>
  <div class="container_p">
    <Home />
    <Projects />
    <Skills />
    <Studies />
    <About />
  </div>
</main>
