---
import { Image } from "astro:assets";
import fotoPerfil from "../../assets/fotoPerfil.jpg";
---

<div class="content-presentation">
  <div class="linear-gradient-2"></div>
  <div class="linear-gradient-1"></div>
  <dir class="container-persentation">
    <div class="container-text">
      <h2 class="text-name">Riquelme Nehuen</h2>
      <div class="container-profession">
        <div>
          <span class="p-profession">D</span>
          <span class="p-profession">e</span>
          <span class="p-profession">s</span>
          <span class="p-profession">a</span>
          <span class="p-profession">r</span>
          <span class="p-profession">r</span>
          <span class="p-profession">o</span>
          <span class="p-profession">l</span>
          <span class="p-profession">l</span>
          <span class="p-profession">a</span>
          <span class="p-profession">d</span>
          <span class="p-profession">o</span>
          <span class="p-profession">r</span>
          <span class="">&nbsp;</span>
        </div>
        <div class="">
          <span class="p-profession">F</span>
          <span class="p-profession">r</span>
          <span class="p-profession">o</span>
          <span class="p-profession">n</span>
          <span class="p-profession">t</span>
          <span class="p-profession">-</span>
          <span class="p-profession">e</span>
          <span class="p-profession">n</span>
          <span class="p-profession">d</span>
          <span class="">&nbsp;</span>
          <span class="p-profession">J</span>
          <span class="p-profession">r</span>
        </div>
      </div>
    </div>
  </dir>
</div>
