---
import { Image } from "astro:assets";
import fotoPerfil from "../../assets/fotoPerfil.jpg";
---

<div class="content-presentation">
  <div class="linear-gradient-2"></div>
  <div class="linear-gradient-1"></div>
  <dir class="container-persentation">
    <div class="container-text">
      <h2 class="text-name">Riquelme Nehuen</h2>
      <div class="container-profession">
        <div>
          <span class="p-profession">D</span>
          <span class="p-profession">e</span>
          <span class="p-profession">s</span>
          <span class="p-profession">a</span>
          <span class="p-profession">r</span>
          <span class="p-profession">r</span>
          <span class="p-profession">o</span>
          <span class="p-profession">l</span>
          <span class="p-profession">l</span>
          <span class="p-profession">a</span>
          <span class="p-profession">d</span>
          <span class="p-profession">o</span>
          <span class="p-profession">r</span>
          <span class="">&nbsp;</span>
        </div>
        <div class="">
          <span class="p-profession">F</span>
          <span class="p-profession">r</span>
          <span class="p-profession">o</span>
          <span class="p-profession">n</span>
          <span class="p-profession">t</span>
          <span class="p-profession">-</span>
          <span class="p-profession">e</span>
          <span class="p-profession">n</span>
          <span class="p-profession">d</span>
          <span class="">&nbsp;</span>
          <span class="p-profession">J</span>
          <span class="p-profession">r</span>
        </div>
      </div>
      <p class="p-presentation">
        Creación de experiencias web atractivas y funcionales.tecnologías
        front-end, incluyendo HTML5, CSS3, JavaScript y frameworks como React,
        Astro. Capaz de traducir diseños creativos en código interactivo y
        optimizar la velocidad y el rendimiento del sitio web.
      </p>
      <div class="container-curriculum">
        <a href="" target="_blank" class="a-action">Hablemos</a>
        <a href="" class="a-curriculum" target="_blank">Ver Currículum</a>
      </div>
      <div class="container-social">
        <p class="">Puedes ver tambien</p>
        <a href="https://github.com/NehuenRiquelme" target="_blank">
          <li class="li-social">
            <i class="fa-brands fa-github"></i>
          </li>
        </a>
        <a
          href="https://www.linkedin.com/in/nehuen-riquelme-29530a167"
          target="_blank"
        >
          <li class="li-social">
            <i class="fa-brands fa-linkedin"></i>
          </li>
        </a>
      </div>
    </div>
    <div class="container-photo-profile">
      <div class="photo-perfil">
        <picture>
          <Image src={fotoPerfil} alt="Nehuen" id="inicio" />
        </picture>
      </div>
    </div>
  </dir>
</div>
