<header class="header">
    <h1 id="inicio">Portafolio</h1>
    <nav class="nav">
      <ul class="ul-nav">
        <a href="#inicio">
          <li class="li-nav">Inicio</li>
        </a>
        <a href="#proyectos">
          <li class="li-nav">Proyectos</li>
        </a>
        <a href="#skills">
          <li class="li-nav">Habilidades</li>
        </a>
        <a href="#estudios">
          <li class="li-nav">Estudios</li>
        </a>
        <a href="#sobremi">
          <li class="li-nav">Sobre mi</li>
        </a>
        <a href="#contacto">
          <li class="li-nav">Contacto</li>
        </a>
      </ul>
    </nav>
    <div class="container-bnt-menu">
      <div class="btn-menu">
        <span class="linea-menu" id="linea1"></span>
        <span class="linea-menu" id="linea2"></span>
        <span class="linea-menu" id="linea3"></span>
      </div>
    </div>
  
    <div class="menu-drop"></div>
  </header>